body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
}

.cabecalho {
    background-color: rgb(26, 24, 24);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imagemLogo {
    width: 100px;
    height: 100px;
}

.tituloCabecalho {
    color: rgb(245, 90, 42);
}

.tituloInvestimentos {
    margin-left: 5rem;
    color:rgb(245, 90, 42) ;
}

.card1 {
    background-color: rgb(77, 156, 209);
    width: 88%;
    height: 8.5rem;
    border: 5px solid black;
    border-radius: 6px;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.card1 .divInvestimento {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.divInvestimento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nomeInvestimento {
    border-bottom: 6px solid black;
    text-align: center;
    width: 100%;
}

.info-text {
    display: flex;
    flex-direction: row;
}

.divPrecoMedio, .divValorAplicado, .divRendimentoBruto, .divQuantidade, .divProvento {
    display: flex;
    width: 19%;
    padding-right: 2rem;
    padding-left: 1rem;
    border-right: 5px solid black; /* Adiciona a barra preta à direita */
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin-top: -1.5rem;
}

.divPrecoMedio {
    border: 5px solid black;
}

.fotoInvestimento {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: black 5px solid;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top:-20px;
}

/* Remove a barra preta do último elemento */
.divInvestimento > div:last-child {
    border-right: none;
}
